<?xml version="1.0" encoding="UTF-8"?>

<web-app>

 <servlet>
	<servlet-name>HomeServlet</servlet-name>
	<servlet-class>test.HomeServlet</servlet-class>
 </servlet>

 <servlet-mapping>
	<servlet-name>HomeServlet</servlet-name>
	<url-pattern>/home</url-pattern>
 </servlet-mapping>
 
 <servlet>
	<servlet-name>AdminServlet</servlet-name>
	<servlet-class>test.AdminServlet</servlet-class>
 </servlet>

 <servlet-mapping>
	<servlet-name>AdminServlet</servlet-name>
	<url-pattern>/admin</url-pattern>
 </servlet-mapping>
 
  <servlet>
	<servlet-name>UserServlet</servlet-name>
	<servlet-class>test.UserServlet</servlet-class>
 </servlet>

 <servlet-mapping>
	<servlet-name>UserServlet</servlet-name>
	<url-pattern>/user</url-pattern>
 </servlet-mapping>
 
 <servlet>
	<servlet-name>ViewTrainsServlet</servlet-name>
	<servlet-class>test.ViewTrainsServlet</servlet-class>
 </servlet>

 <servlet-mapping>
	<servlet-name>ViewTrainsServlet</servlet-name>
	<url-pattern>/view1</url-pattern>
 </servlet-mapping>
 
 <servlet>
	<servlet-name>AddTrainServlet</servlet-name>
	<servlet-class>test.AddTrainServlet</servlet-class>
 </servlet>

 <servlet-mapping>
	<servlet-name>AddTrainServlet</servlet-name>
	<url-pattern>/add</url-pattern>
 </servlet-mapping>
 
 <servlet>
	<servlet-name>LogoutServlet</servlet-name>
	<servlet-class>test.LogoutServlet</servlet-class>
 </servlet>

 <servlet-mapping>
	<servlet-name>LogoutServlet</servlet-name>
	<url-pattern>/Logout</url-pattern>
 </servlet-mapping>

 <servlet>
	<servlet-name>ViewTrainsServlet2</servlet-name>
	<servlet-class>test.ViewTrainsServlet2</servlet-class>
 </servlet>

 <servlet-mapping>
	<servlet-name>ViewTrainsServlet2</servlet-name>
	<url-pattern>/view2</url-pattern>
 </servlet-mapping>
 
  <servlet>
	<servlet-name>SelectedTrainServlet</servlet-name>
	<servlet-class>test.SelectedTrainServlet</servlet-class>
 </servlet>

 <servlet-mapping>
	<servlet-name>SelectedTrainServlet</servlet-name>
	<url-pattern>/select</url-pattern>
 </servlet-mapping>
 
 <servlet>
 	<servlet-name>RegisterServlet</servlet-name>
 	<servlet-class>test.RegisterServlet</servlet-class>
 </servlet>
 
 <servlet-mapping>
 	<servlet-name>RegisterServlet</servlet-name>
 	<url-pattern>/reg</url-pattern>
 </servlet-mapping>
 
 <servlet>
 	<servlet-name>UpdateServlet</servlet-name>
 	<servlet-class>test.UpdateServlet</servlet-class>
 </servlet>
 
 <servlet-mapping>
 	<servlet-name>UpdateServlet</servlet-name>
 	<url-pattern>/update</url-pattern>
 </servlet-mapping>

 <servlet>
 	<servlet-name>DeleteServlet</servlet-name>
 	<servlet-class>test.DeleteServlet</servlet-class>
 </servlet>
 
 <servlet-mapping>
 	<servlet-name>DeleteServlet</servlet-name>
 	<url-pattern>/delete</url-pattern>
 </servlet-mapping>


 <welcome-file-list>
	<welcome-file>Home.html</welcome-file>
 </welcome-file-list>
 
</web-app>